{% extends PYBB_TEMPLATE|default:"base.html" %}

{% load i18n pybb_tags static %}

{% block title %}{{ PYBB_DEFAULT_TITLE }}{% endblock title %}

{% block extra_head %}
    {{ block.super }}
    <!-- Feeds -->
    <link rel="alternate" type="application/atom+xml" href="{% url 'pybb:feed_posts' %}" title="{% trans 'Latest posts on forum' %}" >
    <link rel="alternate" type="application/atom+xml" href="{% url 'pybb:feed_topics' %}" title="{% trans 'Latest topics on forum' %}" >
{% endblock %}

{% block breadcrumb %}
    {% include "pybb/breadcrumb.html" %}
{% endblock %}

{% block content %}{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'markitup/skins/simple/style.css' %}" />
<link rel="stylesheet" href="{% static 'markitup/sets/bbcode/style.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'markitup/jquery.markitup.js' %}"></script>
  <script src="{% static 'markitup/sets/bbcode/set.js' %}"></script>
  <script src="{% static 'pybb/js/markitup.js' %}"></script>
{% endblock %}

